<!DOCTYPE html>
<html lang="pt-br">       
    <head> 
        <meta charset="UTF-8"/>
        <title>Laks</title>
    </head>
	
    <body>
        <header>
            <h1>Bem vindos ao LAKS!</h1>
        </header>

        <p>É apenas isso também!</p>

        <nav>
            <a href="https://www.instagram.com/sofialakschevitz/" target="_blank">Instagram</a>
            <a href="https://github.com/sofialakschevitz" target="_blank">GitHub</a>
        </nav>

        <aside>
            <a href="#">Aqui mesmo</a>
        </aside>

        <footer>Copyright &copy; 2021 by EMAp.</footer>
    </body>
</html>
