{% extends 'sofiaapp/sofia_template.html' %}
{% load static %}

    
{% block cabecalho %}
        <title>Laks</title>
{% endblock %}

{% block estilo %}
    <link rel='stylesheet' type='text/css' href="{% static 'sofiaapp/sofia_estilo.css'%}">
{% endblock %}

{% block conteudo %}
    <header>
        <h1>Bem vindos ao LAKS!</h1>
    </header>

    <p>É apenas isso também!</p>

    <nav>
        <a href="https://www.instagram.com/sofialakschevitz/" target="_blank">Instagram</a>
        <a href="https://github.com/sofialakschevitz" target="_blank">GitHub</a>
    </nav>

    <aside>
        <a href="#">Aqui mesmo</a>
    </aside>


{% endblock %}

