{% extends 'sofiaapp/sofia_template.html' %}
{% load static %}

    
{% block cabecalho %}
    <title>SofiaApp</title>
{% endblock %}
	
{% block estilo %}
    <link rel='stylesheet' type='text/css' href="{% static 'sofiaapp/sofia_estilo.css'%}">
{% endblock %}

{% block conteudo %}
    <header>
        <h1>Bem vindos ao App da Sofia!</h1>
    </header>

    <p>Pronto! É isso!</p>

    <nav>
        <a href="https://www.google.com.br/" target="_blank">Google</a>
        <a href="https://www.w3schools.com/TAGS/default.ASP" target="_blank">W3C</a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" target="_blank">MDN</a>
    </nav>

    <aside>
        <a href="#">Aqui mesmo</a>
    </aside>


{% endblock %}

