<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    <meta charset="UTF-8"/>
        <title>ViniApp</title>
    </head>

    <body>
        <header>
        <h2>Olá! Bem-vindo à aplicação do Vini :)</h2>
        </header> 
        <nav>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Instagram</a>
            </br>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Twitter</a>
            </br>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Linkedin</a>
        </nav>
    </br>
        <aside>
            <a href = "#">Aqui mesmo!</a>
        </aside>
        </br>
        <footer> Copyright &copy; 2021 by Vinicius Hedler. </footer> 
    </body>
</html>