<!DOCTYPE html>
<html lang= "pt-br">
	<head>
		<meta charset="UTF-8">
		<link rel="style" href="styles.css">
		<title>Ferias do Math_M.C.F.</title>
	</head>

	<body>
		<header>
			<h1>Como foram minhas férias:</h1>
			
			Bom dia amiguinhos!
			<br>
			Hoje vou falar sobre as minhas MARAVILHOSAS ferias.
			<br>
			Normalmente nas minhas ferias eu acordava as 7:00 para caminhar no Maracanã junto com a minha mãe, 
			depois de voltar e tomar um banho, lia a biblia e começava a estudar cálculo (pois infelizmente não consegui paaasaar :( ). 
			<br>
			Mas minhas férias não foram só essas 3 atividades, mesmo que eu as tenha feito elas diariamentes, tambem aproveitei elas: <br>
		
		<main>
			<h3>Outras Atividades Prazerosas que fiz:</h3>
		<table>
			<tr>
				<th>Filmes:</th>
				<th>
				<ul>
				<li>Segurança de Shopping 1 e 2</li>
				<li>Tenet</li>
				<li>Os Puxa-Sacos</li>
				<li>Rota de Fuga</li>
				<li>Assalto ao Banco da Espanha</li>
				<li>O Imperador de Paris</li>
				<li>Hancock</li>
				<li>Snoppy e Charlie Brown - Peantus</li>
			</ul>
		</th>
			</tr>
		</table>
		
			<img src="img/tenent.jpg" alt="Filme chamado Tenent">
		
		<table>
			<tr>
				<th>Séries:</th>
				<th>
				<ul>
				<li>Drop Dead Diva</li>
				<li>Lupin</li>
				<li>The Chosen</li>
				<li>La Casa de Papel</li>
			</ul>
		</th>
			</tr>
		</table>
		<table>
			<tr>
				<th>Animes:</th>
				<th>
				<ul>
				<li>Tensei Shitara Slime Datta Ken</li>
				<li>Munou na Nana</li>
				<li>Tokyo Revengers</li>
				<li>Great Pretender</li>
				</ul>
				</th>
			</tr>
		</table>
		<table>
			<tr>
				<th>Mangas e Manwhas:</th>
				<th>
				<ul>
				<li>Solo Leveling</li>
				<li>Spy X Family</li>
				<li>Reader</li>
				<li>Counter Club</li>
				<li>Mercenary Enrollment</li>
				<li>Return of the 8th class Magician</li>
				<li> Omniscient Reader’s Viewpoint</li>
				<li>Bug Player</li>
			</ul>
		</th>
			</tr>
		</table>
		</main>

		Outra coisa que fiz nessas ferías foi gravar a música para a fibonight 2021 da FGV!
			<br>
			Vou contar resumidamente o passo a passo da gravação. (Sim, eu fiz isso tudo em um dia só das 9:00 até as 22:00)
			<table>
				<tr>
					<th>:</th>
					<th>
					<ul>
					<li>1° - Gravei o teclado (piano, pads e strings)</li>
					<li>2° - Gravei a voz do Sully</li>
					<li>3° - Gravei a voz do Mikey</li>
					<li>4° - Gravei o vídeo do Sully</li>
					<li>5° - Gravei o vídeo do Mikey</li>
					<li>6° - Juntei tudo no Editor de Video</li>
					<li>7° - Editei</li>
					</ul>
					</th>
				</tr>
			</table>
			<br>
			E esse foi o resultado, aproveite: <br>

		<iframe width="560" height="315" src="https://www.youtube.com/embed/37Urpb2TzTg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>