{% extends 'mathapp/mathapp-template.html'%}
{% load static %}

{% block cabecalho %}
	<title></title>
{% endblock %}

{% block estilo %}
	<link rel="stylesheet" type="text/css" href="{% static 'mathapp/estilos.css' %}">
{% endblock %}
	</head>

	<body>
		<header>
		
		{% block conteudo %}
			<h1>Melhor grupo de LP é o Grupo 4:</h1>
			
			Bom dia amiguinhos!
			<br>
			Hoje vou falar sobre O INCRIVEL grupo de Linguagem de Programação em que estou.
			<br>
			Por ser EAD, eu não tive muita oportunidade de conversar com a minha turma, nem de conhece-la, mas por causa desses exercícios eu tenho conhecidos pessoas maravilhosas como: 
		{% block conteudo %}

            <table>
                <tr>
                    <th>Pessoas:</th>
                    <th>
                    <ul>
                    <li>Bianca</li>
                    <li>F. Lamarca</li>
                    <li>Pedro</li>
                    <li>Sofia</li>
                    <li>V. Headler</li>
                </ul>
            </th>
                </tr>
            </table>
            
			{% block conteudo %}
				<p> A Bia foi a que eu tive menos chance de conversar, contudo ela me aparenta ser uma menina gentil e alegre.
				<br>
				O Felipe Lamarca, ele é um eximio lider que puxa e ajuda as pessoas, gostei muito de conhece-lo e adoraria conversar mais com ele e formar uma amizade + solida.
				<br>
				O Pedro eu já tenho um contato maior por causa da Aula de de Cálculo 1 com o Branco que ele tambem participa. Ele é uma pessoa muito alto astral e divertida, Faço questão de Criar uma amizade mais solia e para a vida toda com ele (se der).
				<br>
				A Sofia me surpreendeu quando ela falou que me conhecia, pois eu não me lembrava dela, ela falou que estudamos no Palas, eu no 2° ano e ela no 1°. Foi uma grata surpresa, tambem não tive muita oprtunidade de conversar com ela, mas ela aparentou ser alegre e divertida.
				<br>
				O Vini Heaadler foi com quem eu mais conversei nesse trabalho. Ele tem um timbre de voz calma. Conversamos sobre musica, sobre onde moramos, entre outras coisas, Foi bem divertido, ele é outra pessoa que adoraria ter uma amizade + solida, espero que seja possível. </p>
			{% block conteudo %}

			{% include 'mathapp/rodape.html' %}

		</body>
	</html>