<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    <meta charset="UTF-8"/>
        <title>FelipeApp</title>
    </head>

    <body>
        <header>
        <h2>Olá! Bem-vindo à aplicação do Felipe :)</h2>
        </header> 
        <nav>
            <a href="https://www.instagram.com/felipelmc/">Instagram</a>
            </br>
            <a href="https://twitter.com/felipe_lamarca" target="_blank">Twitter</a>
            </br>
            <a href="https://www.linkedin.com/in/felipe-lamarca-893a541a1/" target="_blank">Linkedin</a>
        </nav>
    </br>
        <aside>
            <a href = "#">Aqui mesmo!</a>
        </aside>
        </br>
        <footer> Copyright &copy; 2021 by Felipe Lamarca. </footer> 
    </body>
</html>