<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    <meta charset="UTF-8"/>
        <title>ViniApp</title>
    </head>

    <body>
        <header>
        <h2>Olá! Bem-vindo à aplicação do Vini :)</h2>
        </header>
    </br>
        <aside>
            <p> Veja estas páginas sobre mim:</p>
            <ul>
                <li><a href="http://127.0.0.1:8000/vinicius/redes_sociais">Minhas redes sociais</a></li>
                <li><a href="http://127.0.0.1:8000/vinicius/musicas">Minhas músicas preferidas</a></li>
            </ul>
        </aside>
        </br>
        <footer> Copyright &copy; 2021 by Vinicius Hedler. </footer> 
    </body>
</html>