<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    <meta charset="UTF-8"/>
        <title>ViniApp</title>
    </head>

    <body>
        <a href="http://127.0.0.1:8000/vinicius/">Voltar</a>
        <header>
        <h2>Olá! Bem-vindo às músicas preferidas do Vini :)</h2>
        </header> 
        <nav>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Never Gonna Give You Up - Rick Astley</a>
            </br>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Back in Black - ACDC</a>
            </br>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">O que é o que é - Hatsune Miku</a>
        </nav>
    </br>
        </br>
        <footer> Copyright &copy; 2021 by Vinicius Hedler. </footer> 
    </body>
</html>