<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    <meta charset="UTF-8"/>
        <title>Faculdade</title>
    </head>

    <body>
        <header>
        <h2>Bem-vindo à página sobre faculdade!</h2>
        </header>
       <p>
        Estudo Ciências Sociais no CPDOC e Ciência de Dados na EMAp.
       </p>

       <p>
        Hoje (03/11/2021) teve teste de cálculo 2 e foi um pesadelo. Bebel pesou a mão.
       </p>

    </br>
        <aside>
            <a href = "#">Aqui mesmo!</a>
        </aside>
        </br>
        <footer> Copyright &copy; 2021 by Felipe Lamarca. </footer> 
    </body>
</html>