{% extends 'felipeapp/template1.html' %} 
{% load static %}

    {% block cabecalho %}
        <title>Faculdade</title>
    {% endblock %}

    {% block estilo %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'felipeapp/estilos.css' %}">

    {% endblock %}

    {% block conteudo %}

    <body>
        <header>
        <h1>Bem-vindo à página sobre faculdade!</h1>
        </header>
       <p>
        Estudo Ciências Sociais no CPDOC e Ciência de Dados na EMAp.
       </p>

       <p>
        Hoje (03/11/2021) teve teste de cálculo 2 e foi um pesadelo. Bebel pesou a mão.
       </p>

    </br>

        <aside>
            <a href = "#">Aqui mesmo!</a>
        </aside>

    {% endblock %}