<!DOCTYPE html>
<html>
<head>
<title> Python Web </title>
</head>

<body>

<h1> EMAp </h1>
<p> O {{nome}} {{nome_familia}} gosta muito do Yuri e do Camacho. Tanto que não cabe no peito. </p>
<p> O {{nome|add:nome_familia}} gosta muito do Yuri e do Camacho. Tanto que não cabe no peito. </p>
<p> O {{nome|add:' '|add:nome_familia}} gosta muito do Yuri e do Camacho. Tanto que não cabe no peito. </p>
<p> O tamanho do nome do aluno é {{nome|add:' '|add:nome_familia|length}}. </p>

<p> O curso de {{cursos.0}}  é incrível.</p>
<p> O curso de {{cursos.1|title}}  é incrível.</p>


<h1>Tags</h1>
{% if nome|add:' '|add:nome_familia|length >= 20 %}
    <p> Que nome enorme! </p>
{% else %}
    <p> Que nome pequenino! </p>
{% endif %}

<ul>
    {% for signo in signos %}
        <li> {{signo}} </li>
    {% endfor %}
</ul>


<p> O nome em caixa alta é {{nome|upper}} </p>
<p> O nome em caixa baixa é {{nome|lower}} </p>
<p> Os cursos são {{cursos|join:", "|upper}} </p>

<p> Agora é {% now "SHORT_DATETIME_FORMAT" %} </p>

</body>
</html>
