<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    <meta charset="UTF-8"/>
        <title>Músicas</title>
    </head>

    <body>
        <header>
        <h2>Bem-vindo à página sobre músicas!</h2>
        </header>
       <p>
        Escuto música o dia inteiro. Sou muito fã de rap e de funk.
       </p>

       <p>
        As músicas que eu mais tenho escutado recentemente são:

            <ul>
                <li>Love Galore (SZA, Travis Scott)</li>
                <li>Nasci pra Ser Grande (Tributo F.R) (BK, Djonga, Froid)</li>
                <li>Eu Fiz o Jogo Virar (Mc Poze do Rodo)</li>
                <li>Acende a Vela (Filipe Ret)</li>
            </ul>

       </p>

    </br>
        <aside>
            <a href = "#">Aqui mesmo!</a>
        </aside>
        </br>
        <footer> Copyright &copy; 2021 by Felipe Lamarca. </footer> 
    </body>
</html>