<html>
	<head>
		<meta charset="uft-8">
		<title>Skatistas</title>
		<link href="style1.css" rel="stylesheet">
		<link rel="sortcut icon" href="icon_face.png">
	</head>
	<body>
		
		<h1> Pessoinhas carecas se divertindo em uma pista de skate! 🥰🛹</h1>
		
		<svg width="1000" height="1000">>
			
	<!-- Cenário e skatistas -->			

			<rect x="0" y="0" width="1000" height="1000" fill="blue" />
			<rect x="0" y="550" width="1000" height="450" fill="green" />
			<rect x="0" y="500" width="500" height="450" fill="green" />
			<circle cx="850" cy="150" r="100" fill="gold" />
			<ellipse cx="900" cy="600" rx="250" ry="100" fill="green" />
			<ellipse cx="100" cy="450" rx="250" ry="100" fill="blue" />			

			<rect <rect x="742" y="774" width="10" height="40" fill="silver" />
			<rect <rect x="828" y="724" width="10" height="90" fill="silver" />
			<rect <rect x="860" y="730" width="10" height="100" fill="silver" transform="rotate(60,850,700)"/>			

			<rect x="340" y="820" width="9" height="30" fill="gold" />
			<rect x="351" y="820" width="9" height="30" fill="gold" />
			<rect x="355" y="783" width="10" height="25" fill="magenta" />
			<rect x="335" y="783" width="10" height="25" fill="magenta" />
			<rect x="340" y="775" width="20" height="45" fill="magenta" />
			<circle cx="350" cy="770" r="15" fill="pink" />
			<circle cx="338" cy="810" r="6" fill="pink" />
			<circle cx="362" cy="810" r="6" fill="pink" />			
			<rect x="315" y="850" width="70" height="10" fill="darkblue" />
			<circle cx="330" cy="866" r="8" fill="black" />
			<circle cx="370" cy="866" r="8" fill="black" />
			<circle cx="350" cy="774" r="5.5" fill="darkred" />
			<ellipse cx="350" cy="772" rx="6" ry="5" fill="pink" />
			<circle cx="345" cy="766" r="3" fill="black" />
			<circle cx="355" cy="766" r="3" fill="black" />	
			
			<rect x="440" y="840" width="9" height="30" fill="violet" />
			<rect x="451" y="840" width="9" height="30" fill="violet" />
			<rect x="455" y="803" width="10" height="25" fill="cyan" />
			<rect x="435" y="803" width="10" height="25" fill="cyan" />
			<rect x="440" y="795" width="20" height="45" fill="cyan" />
			<circle cx="450" cy="790" r="15" fill="pink" />
			<circle cx="438" cy="830" r="6" fill="pink" />
			<circle cx="462" cy="830" r="6" fill="pink" />			
			<rect x="415" y="870" width="70" height="10" fill="red" />
			<circle cx="430" cy="886" r="8" fill="black" />
			<circle cx="470" cy="886" r="8" fill="black" />
			<circle cx="450" cy="794" r="5.5" fill="darkred" />
			<ellipse cx="450" cy="792" rx="6" ry="5" fill="pink" />
			<circle cx="445" cy="786" r="3" fill="black" />
			<circle cx="455" cy="786" r="3" fill="black" />
			
			<rect x="140" y="870" width="9" height="30" fill="black" />
			<rect x="151" y="870" width="9" height="30" fill="black" />
			<rect x="155" y="833" width="10" height="25" fill="white" />
			<rect x="135" y="833" width="10" height="25" fill="white" />
			<rect x="140" y="825" width="20" height="45" fill="white" />
			<circle cx="150" cy="820" r="15" fill="pink" />
			<circle cx="138" cy="860" r="6" fill="pink" />
			<circle cx="162" cy="860" r="6" fill="pink" />			
			<rect x="115" y="900" width="70" height="10" fill="brown" />
			<circle cx="130" cy="916" r="8" fill="black" />
			<circle cx="170" cy="916" r="8" fill="black" />
			<circle cx="150" cy="824" r="5.5" fill="darkred" />
			<ellipse cx="150" cy="822" rx="6" ry="5" fill="pink" />
			<circle cx="145" cy="816" r="3" fill="black" />
			<circle cx="155" cy="816" r="3" fill="black" />
			
		<g id="rampa">
			<rect x="718" y="350" width="72" height="50" fill="brown" />
			<rect x="70" y="350" width="52" height="50" fill="brown" />
			<rect  x="70" y="400" width="720" height="300" fill="darkred" />
			<ellipse cx="430" cy="370" rx="320" ry="300" fill="brown" />
			<ellipse cx="430" cy="300" rx="330" ry="240" fill="blue" />
		</g>
		

		

		
		<g id="nuvem1" class="nuvem1">
			<circle cx="155" cy="136" r="45" fill="white" />
			<circle cx="185" cy="96" r="45" fill="white" />
			<circle cx="205" cy="146" r="45" fill="white" />
		</g>
		
		<g id="nuvem2" class="nuvem2">
			<circle cx="525" cy="216" r="45" fill="white" />
			<circle cx="575" cy="256" r="45" fill="white" />
			<circle cx="515" cy="266" r="45" fill="white" />
		</g>
		
		<g id="skate2" class="skate">
			<rect x="140" y="870" width="9" height="30" fill="navy" />
			<rect x="151" y="870" width="9" height="30" fill="navy" />
			<rect x="155" y="833" width="10" height="25" fill="darkorange" />
			<rect x="135" y="833" width="10" height="25" fill="darkorange" />
			<rect x="140" y="825" width="20" height="45" fill="darkorange" />
			<circle cx="150" cy="820" r="15" fill="pink" />
			<circle cx="138" cy="860" r="6" fill="pink" />
			<circle cx="162" cy="860" r="6" fill="pink" />			
			<rect x="115" y="900" width="70" height="10" fill="grey" />
			<circle cx="130" cy="916" r="8" fill="black" />
			<circle cx="170" cy="916" r="8" fill="black" />
			<circle cx="150" cy="824" r="5.5" fill="darkred" />
			<ellipse cx="150" cy="822" rx="6" ry="5" fill="pink" />
			<circle cx="145" cy="816" r="3" fill="black" />
			<circle cx="155" cy="816" r="3" fill="black" />
		</g>
		
		</svg>

		<div class="ball"></div>

	</body>
</html>