<!DOCTYPE html>
<html lang="pt-br">       
    <head> 
        <meta charset="UTF-8"/>
        <title>Matemática Aplicada</title>
    </head>
	
    <body>
        <header>
            <h1>Linguagens de Programação</h1>
            <h2>Cálculo 2</h2>
            <h3>Álgebra Linear</h3>
            <h4>Modelagem de Fen. Fís</h4>
            <h5>Introdução à Economia</h5>
            <h6>Banco de Dados</h6>

        </header>

        <nav>
            <a href="https://www.google.com.br/" target="_blank">Google</a>
            <a href="https://www.w3schools.com/TAGS/default.ASP" target="_blank">W3C</a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" target="_blank">MDN</a>
        </nav>

        <article>
            <header>
                <h3>Quero reclamar dos carnívoros!</h3>
                <img src="img/baconseed.png" alt="Semente de Bacon"/>
            </header>

            <main>
                <p> Textão </p>
            </main>
        </article>

        <article>...<article>
        <article>...<article>
        <article>...<article>
        <article>...<article>
        <article>...<article>

        <aside>
            <h4> Tags Conhecidas </h4>
            <table>
            <tr>
                <th>Tag</th>
                <th>Descrição</th>
            </tr>
            <tr>
                <td>html</td>
                <td>Descrição incrível da tag</td>
            </tr>
            <tr>
                <td>body</td>
                <td>Descrição incrível da tag</td>
            </tr>
            </table>

            <a href="#">Aqui mesmo</a>
        </aside>

        <footer>Copyright &copy; 2021 by EMAp.</footer>
    </body>
</html>
