<!DOCTYPE html>
<html lang="pt-br">       
    <head> 
        <meta charset="UTF-8"/>
        <title>SofiaApp</title>
    </head>
	
    <body>
        <header>
            <h1>Bem vindos ao App da Sofia!</h1>
        </header>

        <p>Pronto! É isso!</p>

        <nav>
            <a href="https://www.google.com.br/" target="_blank">Google</a>
            <a href="https://www.w3schools.com/TAGS/default.ASP" target="_blank">W3C</a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" target="_blank">MDN</a>
        </nav>

        <aside>
            <a href="#">Aqui mesmo</a>
        </aside>

        <footer>Copyright &copy; 2021 by EMAp.</footer>
    </body>
</html>
